{extend name="layout/index" /} 
{block name="titile"}
  <title>{$C['sitename']}-忘记密码 </title>
{/block}
{block name="content"}
<div class="content">
	<div class="panel panel-bggray">
		<div class="container">
		{switch name="$type"}
		{case value="email"}
		  <div class="box message-panel">
				<div class="prompt prompt-success">
					<div class="prompt-icon">
						<i class="iconimg"></i>
					</div>
					<div class="prompt-cont">
						<h4><a id="href" href="{:url('home/index/index')}">重置密码成功！</a>
						</h4>
						<p>
							邮件已经发送到你的绑定邮箱{:tfen($name,3,4)}，请尽快登陆修改密码！
						</p>
						<p>
							等待 <strong id="wait">10</strong> 秒后页面自动跳转。如太久没有跳转，
						</p>
						<p>
							您可以手动 <a class="text-blue" href="{:url('home/index/index')}">点击此进入</a>
						</p>
						<div class="action">
							<a class="btn btn-default btn-sm" href="/">返回首页</a>
						</div>
					</div>
				</div>
			</div>
		<script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
		{/case}
		{case value="photo"}
		 <div class="box message-panel">
				<div class="prompt prompt-success">
					<div class="prompt-icon">
						<i class="iconimg"></i>
					</div>
					<div class="prompt-cont">
						<h4><a id="href" href="{:url('home/index/index')}">重置密码成功！</a>
						</h4>
						<p>
							随机密码已发送到你的手机{:tfen($name,3,4)}，请尽快登陆修改密码！
						</p>
						<p>
							等待 <strong id="wait">10</strong> 秒后页面自动跳转。如太久没有跳转，
						</p>
						<p>
							您可以手动 <a class="text-blue" href="{:url('home/index/index')}">点击此进入</a>
						</p>
						<div class="action">
							<a class="btn btn-default btn-sm" href="/">返回首页</a>
						</div>
					</div>
				</div>
			</div>
		<script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
		{/case}
		{default /}
			<div class="box getpass">
				<h2 class="clearfix"><span class="h4 pull-right"><a class="text-blue" href="{:url('home/Login/login')}">返回登录</a></span>找回密码</h2>
				<div class="stepflex stepflex-4 stepflex-primary">
					<ul class="clearfix">
						<li class="doing">
						<div class="stepflex-num">
							1
						</div>
						<div class="stepflex-text">
							填写帐户名
						</div>
						</li>
						<li>
						<div class="stepflex-num">
							2
						</div>
						<div class="stepflex-text">
							发送随机密码
						</div>
						<div class="stepflex-progress">
						</div>
						</li>
						
					</ul>
				</div>
				<form action="{:request()->url()}" method="post" id="forgetpassword">
					<div class="form-group">
						<div class="col-xs-2 col-xs-offset-2">
							<label class="control-label" for="username">用户名：</label>
						</div>
						<div class="col-xs-5">
							<div class="mr4">
								<input class="form-control" id="username" name="username" type="text" placeholder="用户名/邮箱/手机号码" null="请输入用户名/邮箱/手机号码">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-2 col-xs-offset-2">
							<label class="control-label" for="verifycode">验证码：</label>
						</div>
						<div class="col-xs-3">
							<div class="mr4">
								<input type="text" class="form-control" id="codeno" name="codeno" maxlength="5" null="请输入验证码">
							</div>
						</div>
						<div class="col-xs-2 pl10">
							<img src="{:captcha_src()}" class="verifyimg code pull-left" onclick="this.src=this.src+'?'+Math.random()" title="点击图片刷新验证码">
						</div>
					</div>
					<div class="form-group pb30">
						<div class="col-xs-5 col-xs-offset-4">
						    {:token_field()}
							<button class="btn btn-primary btn-block" type="button" data-form="top-left,json" id="signupbtn" name="forgetpassword">确认找回</button>
						</div>
					</div>
				</form>
			</div>
			{/switch}
		</div>
	</div>
</div>
{/block}