{extend name="layout/index" /} 
{block name="content"}
<style>
.masthead img {
    display: block;
    height: 100%;
    margin: auto;
    margin-top: 50px;
        width: 100%;
}
#silderto  {
    height:100%;
}
.owl-carousel .owl-wrapper-outer {
    padding:0;
    height:100%;
}
.owl-wrapper-outer .owl-wrapper{
    height:100%;
}
.owl-wrapper .owl-item{
    height:100%;
}

#silderto .owl-buttons > .owl-prev{
    left: 0px; 
}
#silderto .owl-buttons > .owl-next{
    right: 0px;
}
</style>
  <div class="content">
   <div class="jumbotron" style="padding:0">
    <div class="" id="silderto">
        {volist name=":get_link(12,'desc')" id="p"}
     <div class="masthead" style="height:100%">
     <a href="{$p.url}"> <img  style="margin-top:0;" src="{$p.image}" alt=""  /></a>
     </div>
     {/volist}
    </div>
   </div>
   <script type="text/javascript" src="__JS__/owl.carousel.min.js"></script>
     <script>$("#silderto").owlCarousel({autoPlay:5000,paginationSpeed:1200,singleItem:true,scrollPerPage: true,paginationNumbers:true,navigation: true,navigationText : ["<i class='iconfont'>&#xe638;</i>", "<i class='iconfont'>&#xe629;</i>"],});</script>
   <div class="panel panel-stepflow ">
    <div class="container">
     <div class="kaka-notice">
      <div class="kaka-notice-icon">
       <i class="iconimg iconimg-notice"></i>
      </div>
      <div class="kaka-notice-time">
       <span>{:date("Y",strtotime($new.update_time))}</span>
       <strong>{:date("m-d",strtotime($new.update_time))}</strong>
      </div>
      <div class="kaka-notice-text">
       <h5><a href="{:url('home/helpfaq/index')}" target="_blank">{$new.title}</a></h5>
       <a href="{:url('home/helpfaq/index')}" target="_blank" title="{$new.title}">{:htmlspecialchars_decode($new.content)}</a>
      </div> 
      <div class="kaka-notice-more"> 
       <a href="{:url('home/helpfaq/index')}" target="_blank"> <span>更多公告</span> <i class="iconfont"></i></a> 
      </div>
     </div>
     <div class="kaka-stepflows">
      <ul class="stepflow-group clearfix">
      <li>
      <div class="icon">
       <i class="iconfont iconfont-step-sign"></i>
      </div>
      <div class="title">
       今日注册
      </div>
      <div class="num">
       {$f.d_user}
      </div></li>
     <li>
      <div class="flow">
       登录易收卡账户
      </div></li>
     <li>
      <div class="icon">
       <i class="iconfont iconfont-step-realname"></i>
      </div>
      <div class="title">
       累计回收/笔
      </div>
      <div class="num">
       {$f.card_count}
      </div></li>
     <li>
      <div class="flow">
       绑定提现账号
      </div></li>
     <li>
      <div class="icon">
       <i class="iconfont iconfont-step-input"></i>
      </div>
      <div class="title">
       今日提交
      </div>
      <div class="num">
       {$f.d_card_count}
      </div></li>
     <li>
      <div class="flow">
       等待平台验卡
      </div></li>
     <li>
      <div class="icon">
       <i class="iconfont iconfont-step-verify"></i>
      </div>
      <div class="title">
       今日回收
      </div>
      <div class="num">
       {$f.d_secc_count}
      </div> </li>
     <li>
      <div class="flow">
       相应资金到账
      </div></li>
     <li>
      <div class="icon">
       <i class="iconfont iconfont-step-cash"></i>
      </div>
      <div class="title">
       今日提现/笔
      </div>
      <div class="num">
       {$f.day_draw}
      </div></li>
     <li>
      <div class="flow">
       银行或支付宝
      </div></li>
     <li>
      <div class="icon">
       <i class="iconfont iconfont-step-completed"></i>
      </div>
      <div class="title">
       回收中
      </div>
      <div class="num">
       {$f.wait_card_number}
      </div></li>
      </ul>
     </div>
    </div>
   </div>
   {include file="layout/home_buttom" /}
   </div>
   <div class="panel panel-what">
    <div class="container">
     <div class="panel-heading">
      <h3 class="panel-title">{$C.sitename}能做什么？</h3>
      <div class="panel-subtitle">
       <p>优质的服务让您的每一笔交易都放心满意</p>
      </div>
     </div>
     <div class="panel-body">
      <ul class="what-group clearfix">
       <li>
        <div class="what-group-inner">
         <i class="iconimg iconimg-1"></i>
         <h5>解决浪费</h5>
         <p>{$C.sitename}直接面对用户回收，足不出户即可提交卡号卡密完成回收交易，解决每年上十亿礼品卡闲置的问题。</p>
        </div></li>
       <li>
        <div class="what-group-inner">
         <i class="iconimg iconimg-2"></i>
         <h5>资金回流</h5>
         <p>{$C.sitename}让企业置闲、员工福利、亲友相赠等方式获取的礼品卡快速变现，以达到资金回流最大化。</p>
        </div></li>
       <li class="last">
        <div class="what-group-inner">
         <i class="iconimg iconimg-3"></i>
         <h5>交易多样</h5>
         <p>{$C.sitename}提供线上回收、线下交易、API接口等多种交易方式，还可以根据用户自由定制交易方式。</p>
        </div></li>
      </ul>
     </div>
    </div>
   </div>
   <div class="panel panel-bggray panel-feature">
    <div class="container">
     <div class="panel-heading">
      <h3 class="panel-title">为什么要选择{$C.sitename}？</h3>
      <div class="panel-subtitle">
       <p>我们是专业的卡券服务平台</p>
      </div>
     </div>
     <div class="panel-body">
      <ul class="feature-group clearfix">
       <li>
        <div class="feature-type">
         <i class="iconimg iconimg-type"></i>
         <h5>丰富</h5>
         <p>支持丰富回收多样</p>
        </div> </li>
       <li> 
        <div class="feature-heart">
         <i class="iconimg iconimg-heart"></i>
         <h5>用心</h5>
         <p>一对一的用心服务</p>
        </div> </li>
       <li>
        <div class="feature-safe"> 
         <i class="iconimg iconimg-safe"></i>
         <h5>保证</h5>
         <p>人工处理品牌保证</p>
        </div> </li>
       <li>
        <div class="feature-fast"> 
         <i class="iconimg iconimg-fast"></i>
         <h5>极速</h5>
         <p>处理快捷汇款极速</p>
        </div> </li>
       <li>
        <div class="feature-price"> 
         <i class="iconimg iconimg-price"></i>
         <h5>高价</h5>
         <p>价格公道让您满意</p>
        </div> </li>
      </ul>
     </div>
    </div>
   </div>
   {include file="layout/home_wen" /}
  </div>
  {/block}