{extend name="layout/index" /} 
{block name="content"}
<div class="content">
	<div class="panel panel-bggray" style="padding: 30px 0;">
		<div class="container">
			<div class="box error-panel">
				<div class="container">
					<h3 style="color:red">登陆失败</h3>
					<p>
						你的账户被冻结，请联系管理员！
					</p>
					<p>
						<a class="btn btn-default btn-sm" href="javascript:history.go(-1);">返回上一页</a><a class="btn btn-default btn-sm" href="/">回到首页</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}