 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/helpfaq/index')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">商家合作</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="card-gradient">
		<div class="card">
			<div class="panel-heading">
				<h3 class="panel-title">商务合作</h3>
			</div>
			<div class="article">
				<p>
					{$C.sitename}现阶段主要针对保险类、金融类、运营商、航空类、互联网等公司：
				</p>
				<p>
					1、可替员工和客户发放福利；
				</p>
				<p>
					2、完善企业积分系统中的供货以及回购。
				</p>
				<br>
				<p>
					随着我司业务种类的不断增加，{$C.sitename}平台也将诚招符合公司价值观的商家合作，希望能与您一起共筑美好的未来。
				</p>
				<p>
					<strong>企业合作、电商卡、商超卡、话费卡、游戏卡、等多项预付卡合作：</strong>
				</p>
				<p>
					合作电话：{$C.kefu} <span class="text-light">(08:30-24:00)</span>
				</p>
				<div class="btn-group">
					<a class="btn btn-secondary" href="tel:{$C.kefu}" rel="external nofollow">在线电话咨询</a>
					<!-- <a class="btn btn-primary" href="http://wpa.qq.com/msgrd?v=3&amp;uin=314732607&amp;site=qq&amp;menu=yes" rel="external nofollow">在线QQ咨询</a> -->
				</div>
			</div>
		</div>
	</div>
</div>
</section>
</body>
</html>