<ul class="nav-tabs clearfix">
      <li {if condition="($action == 'profile')"} class="current"{/if}><a href="{:url('home/Member/profile')}">基本资料</a></li>
      <li {if condition="($contr == 'Account' || $action=='realname')"} class="current"{/if}><a href="{:url('home/Member/realname')}">实名认证</a></li>
      <li {if condition="($contr == 'Editpass' || $action=='password' || $action=='paymentcodepin')"}class="current"{/if}><a href="{:url('home/Member/password')}">密码管理</a></li>
      <li {if condition="($contr == 'Mobile' || $action=='photo')"}class="current"{/if}><a href="{:url('home/Member/photo')}">手机设置</a></li>
      <li {if condition="($contr == 'Email' || $action=='email')"}class="current"{/if}><a href="{:url('home/Member/email')}">邮箱设置</a></li>
      <li {if condition="($action=='setcash' || $action=='alipay' || $action=='weixin')"}class="current"{/if}><a href="{:url('home/Member/setcash')}">提现账号</a></li>
     </ul>