{extend name="layout/member" /} 
{block name="content"}
    <div class="view-framework-body">
   <div class="view-framework-main"> 
    <div class="tabnavs">
     {include file="layout/info_menu" /}
    </div> 
    <div class="box tab-content">
	<div class="userform">
		<div class="stepflex stepflex-2">
			<ul class="clearfix">
				<li class="first doing">
				<div class="stepflex-num">
					<span>1</span>
				</div>
				<div class="stepflex-text">
					手机验证
				</div>
				</li>
				<li>
				<div class="stepflex-num">
					<span><i class="iconfont"></i></span>
				</div>
				<div class="stepflex-text">
					绑定手机成功
				</div>
				<div class="stepflex-progress">
				</div>
				</li>
			</ul>
		</div>
		<form id="submitmobile">
			<div class="form-group">
				<label class="form-label" for="phoneno"><em>*</em> 手机号码：</label>
				<div class="form-element">
					<input class="form-control" id="phoneno" type="text" name="phoneno" reg="^1[2|3|4|5|6|7|8|9][0-9]{9}$" null="请输入手机号码" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="form-label" for="codeno"><em>*</em> 短信验证码：</label>
				<div class="form-element">
					<input class="form-control form-control-short" id="codeno" name="codeno" type="text" null="请输入短信验证码" reg="[0-9]{6}"><a class="btn btn-default btn-square pull-left" href="javascript:;" data-href="{:url('home/Api/sendMsg',['scene'=>'setphoto','tip'=>'phoneno'])},,top-left,post" id="mcode">获取验证码</a>
					<div class="help-block">
						<p>
							短信验证码 5 分钟内有效，若已失效或未收到验证码，请点击重新获取
						</p>
					</div>
				</div>
			</div>
			<div class="form-group-btn">
			    {:token_field()}
				<a class="btn btn-primary" href="javascript:;" data-href="{:url('home/Mobile/setphoto')},,top-left,post">提交</a>
			</div>
		</form>
	</div>
</div>
  
   {/block}