<div class="pa30" id="saveqq">
  <form action="{:request()->url()}" method="post" id="formqq">
    <div class="alert alert-info mb10">
      <p>请输入你的安全密码，查看密钥。</p>
    </div>
    <div class="form-group">
      <div class="mr4">
        <input class="form-control" id="pass" name="pass" type="password" value="" reg="[1-9][0-9]{4,}" null="请填写密码" placeholder="请输入安全密码" value=""></div>
      </div>
    <div class="form-group mb0">
      <button class="btn btn-primary btn-block" type="button" data-form="top-left,json" name="formqq">提 交</button></div>
  </form>
</div>