{extend name="layout/member" /} 
{block name="content"}
<style>
.qiye{
    padding: 5px 10px;
    background: #007dfe;
    color: #ffffff;
    border-radius: 5px;
    height: 24px;
    line-height: 14px;
    margin-left: 8px;
    font-size: 12px;
    position: absolute;
    top: 12px;
}
.qi{
    display: block;
    width: 13%;
    height: 32px;
    float: left;
	min-width:90px
}
.cha{
    display: inline-block;
    margin-left: 90px;
    padding: 1px 20px;
    margin-top: -3px;
    border-radius: 5px;
}
.chb{
    display: inline-block;
    margin-left: 10px;
    padding: 1px 20px;
    margin-top: -3px;
    border-radius: 5px;
}
.usercenter-assets .assets-icon{
   float: left;
    color: #ff5c38;
    margin-right: 15px;
    margin-top: 8px;
}
.usercenter-cash{
padding-top: 60px;
}
.usercenter{
    border-bottom: none;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.order-de{
   margin: 0 auto;
   }
.order-de li{
    float: left;
    overflow: hidden;
    text-align: center;
}
</style>
    <div class="view-framework-main">
     <div class="box">
      <div class="usercenter clearfix">
       <div class="usercenter-info" style="border-left: 4px solid #007dfe;padding-left:10px">
        <h5 style="height: 48px;line-height: 48px;"><p class="qi">商户ID </p><p class="text-orange" style="display:block;">{$user.shopid}<span class="qiye">企业认证</span><span class="btn btn-red cha" onclick="getmiyao();">查看密钥</span><span class="btn btn-green chb" onclick="geteditpassa();">重置密钥</span></p></h5>
        <h5 style="height: 48px;line-height: 48px;"><p class="qi">ApiKey</p> <p class="text-orange" style="display:block;" id="apikey">*********</p></h5>
		<h5 style="height: 48px;line-height: 48px;"><p class="qi">3DesKey </p><p class="text-orange" style="display:block;" id="3des">*********</p></h5>
		
       </div>
       <div class="usercenter-assets">
        <div class="assets-icon">
         1.API接口提交卡需要对接{$C.sitename}接口
        </div>
		<div class="assets-icon">
         2.ApiKey和3DesKey是对接加密密钥，请妥善保管
        </div>
		<div class="assets-icon">
         3.接口一旦接入成功，提交面值请按照真实面值提交
        </div>
		<div class="assets-icon">
         4.在卡已经提交的情况下，充值未结束时请不要再次提交该卡
        </div>
		<div class="assets-icon">
         5.提交卡时使用的商户订单号请不要重复
        </div>
        
       </div>
       <div class="usercenter-cash" >
        <p><a class="btn btn-green" href="/demo.zip"><i class="iconfont">&#58917;</i>下载API文档</a></p>
       </div>
      </div>
     </div>
     <div class="box usercenter-sellrecords" >
      <h3 class="box-caption" style="padding-bottom:1px">回收费率：</h3>
	  
      <div class="cards-group owl-carousel" >
		  <div class="box sellrecords-steps" style="margin-top:1px;padding-top:2px;display: inline-block;">
			  <ul class="order-de" style="height:30px;color:#FFF" id="mycard">
			  {foreach name="data" item="vo" key="k" }
			  <li class="btn btn-primary" id="card_id" value="{$k}" style="width: 180px;margin: 3px 5px;">{$vo.title}</li>
			  {/foreach}
			  </ul>
		  </div>
	  <div class="table-responsive">
		<table class="table table-custom selldetail-records">
			<tbody id="tab">
			</tbody>
		</table>
		</div>
      </div>
      <script>
	  var  data={:json_encode($data)};
	  console.log(data);
	  $("#mycard").on("click","#card_id",function(){
	       var id=$(this).val();
		   $(this).removeClass('btn-primary').addClass('btn-primarybtn').siblings().removeClass('btn-primarybtn').addClass('btn-primary');
		   setTab(id);
	  })
	  function setTab(id){
	     var html='<tr><td class="genre">卡类名称</td>';
			   html +='<td class="card "><strong class="text-red">'+data[id].title+'</strong></td>';
			   html +='<td class="recycle">通道代码</td><td class="recycle"><strong class="text-red">'+data[id].daima+'</strong></td>';
			   
			   html +='<td class="card">操作</td>';
			   if(data[id].open==1){
				 html +='<td class="recycle" style="width:180px"><a class="btn btn-green cha" value="'+data[id].open+'" href="javascript:void(0);" ';
				 html +='onclick="setkai(this,'+id+')">';
				 html +='<i class="iconfont">&#58948;</i>开启</a></td>';
			   }else if(data[id].open==3){
			      html +='<td class="recycle" style="width:180px"><a class="btn btn-orange disabled cha" href="javascript:void(0);"><i class="iconfont">&#58948;</i>禁用</a></td>';
			   }else{
			     html +='<td class="recycle" style="width:180px"><a class="btn btn-orange cha" value="'+data[id].open+'" href="javascript:void(0);" ';
				 html +='onclick="setkai(this,'+id+')">';
				 html +='<i class="iconfont">&#58948;</i>关闭</a></td>';
			   }
			   html +='<td class="card"></td><td class="recycle"></td></tr>';
		  for(var d=0;d<data[id].feilv.length;d+=2) {
			   html +='<tr><td class="card">面值</td><td class="recycle"><strong class="text-green">'+data[id].feilv[d].mian+'</strong></td>';
			   html +='<td class="card">';
			   html += parseFloat(data[id].feilv[d].feilv)>1?"回收价":"费率";
			   html +='</td><td class="recycle"><strong class="text-red">'+data[id].feilv[d].feilv+'</strong></td>';
			   if(data[id].feilv[d+1]!="" && data[id].feilv[d+1]!=null){
				   html +='<td class="card">面值</td><td class="recycle"><strong class="text-green">'+data[id].feilv[d+1].mian+'</strong></td>';
				   html +='<td class="card">';
				   html += parseFloat(data[id].feilv[d+1].feilv)>1?"回收价":"费率";
				   html +='</td><td class="recycle"><strong class="text-red">'+data[id].feilv[d+1].feilv+'</strong></td></tr>';
			   }else{
			       html +='<td class="card"></td><td class="recycle"></td>';
				   html +='<td class="card"></td><td class="recycle"></td></tr>';
			   }
		  }
		   $("#tab").html(html);
	  }
	  setTab($('#mycard li:first').val());
	  $("#mycard li:first").removeClass('btn-primary').addClass('btn-primarybtn');
	  function setkai(a,id){
	     loading(!0);
		 var opt=$(a).attr('value');
		 console.log(opt);
	    $.post("{:url('home/Apiface/setStatus')}",{id:id,status:opt==1?0:1},function(e){
		   loading(!1);
		   if(e.code==1){
		     if(opt==1){
				 $(a).removeClass('btn-green').addClass('btn-orange');
				 $(a).html('<i class="iconfont">&#58948;</i>关闭');
				 $(a).attr('value',0);
			 }else{
			     $(a).removeClass('btn-orange').addClass('btn-green');
				 $(a).html('<i class="iconfont">&#58948;</i>开启');
				$(a).attr('value',1);
			 }
		   }else{
		      $("#modal-dialog").html(e.msg).width(360).modal({
				title: "提示",
				modal: !0,
				timeout: 300
			});
		   }
		})
	  }
	  </script>
     </div> 
    </div>
   {/block}