 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/helpfaq/index')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">{$title}</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="card-gradient">
		<div class="panel">
		{volist name="data" id="p"  empty="$empty"}
		<div style="border-bottom: 1px solid #9c9b9b;">
		   <div class="cell">
				<div class="cell-bd">
					<span>注册日期</span><span style="margin-left:8px;color:#1e90ff">{$p.create_time}</span>
				</div>
			</div>
			<div class="cell">
				<div class="cell-bd">
					<h5>商户ID</h5>
					
					<p class="text-primary">
						{$p.shopid}
					</p>
				</div>
				<div class="cell-bd">
					<h5>类型</h5>
					<p>
						{$p.xiao}
					</p>
				</div>
				<div class="cell-bd">
					<h5>销卡总额</h5>
					<p>
						{$p.money}
					</p>
				</div>
				<div class="cell-ft" >
					<h5 class="text-purple">佣金</h5>
					<p class="text-purple">
						{$p.yong}
					</p>
				</div>
			</div>
			</div>
			{/volist}
		</div>
		<div class="card">
			<div class="page">
				{$data|raw}
			</div>
		</div>
	</div>
</div>
</section>
</body>