{include file="layout/wap/tou2" /}
<style>
 .tubiao{
    background:url(/static/home/images/level/1.jpg) no-repeat
  }
  .act1{
        width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -8px -16px;
	position: relative;
    top: 3px;
    margin-left: 2px
  }
  .act2{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -8px -48px;
	position: relative;
    top: 3px;
    margin-left: 2px
  }
  .act3{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -8px -79px;
	position: relative;
    top: 3px;
    margin-left: 2px
  }
  .tui{
         border-radius: 15px;
		padding: 1px 8px;
		font-size: 0.1rem;
		color: #FFF;
		background-color: #0085fe;
		background: -webkit-linear-gradient(to right, #0085fe 0%, #20d071 100%);
		background: linear-gradient(to right, #0085fe 0%, #10aeff 100%);
		box-shadow: 0 0.01rem 0.02rem #00aaff;
		border: 1px solid #0085fe;
  }
</style>
<div class="myheader" id="myheader">
	<header class="header header-sm"><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/Helpfaq/helpa')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">我的帐户</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent mycontent-hasfooter" id="mycontent">
	<div class="gradient">
		<a class="cell cell-access account-profile" href="{:url('home/Member/profile')}">
		<div class="cell-hd">
			<i class="avatar avatar-default"></i>
		</div>
		<div class="cell-bd">
			<h3>{$user.username|default=$user['mobile']} [商户ID：{$user.shopid}]</h3>
			<p>
				欢迎登录{$C['sitename']}
			</p>
			<span class="tui">当前推广级别<span class="tubiao act{$res.level}"></span></span>
		</div>
		<div class="cell-ft">
			<span class="h6">编辑</span>
		</div>
		</a>
		{if condition="($user['userReal']['retype'] == '0' || $user['userReal']['retype'] == '')"}
		<a class="account-realname" href="{:url('home/Member/realname')}">当前帐号还未实名认证，为了您的账户安全，请点击认证</a>{/if}
	</div>
	<div class="card-gradient">
		<div class="card">
			<div class="cell account-balance">
				<div class="cell-hd">
					<h5>账户余额（元）</h5>
					<p>
						{$user.money}
					</p>
				</div>
				<div class="cell-bd">
					<a class="btn btn-sm btn-inline btn-default" href="{:url('home/Cash/cashrecords')}">记录</a><a class="btn btn-sm btn-inline btn-secondary" href="{:url('home/Cash/index')}"><i class="iconfont iconfont-cash"></i>我要提现</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<a class="cell cell-access kaka-notice" href="{:url('home/helpfaq/index')}">
		<div class="cell-hd">
			<img src="__IMG__/bulletin.png" alt="">
		</div>
		<div class="cell-bd">
			<p class="ellipsis">
				{$new.title}
			</p>
		</div>
		<div class="cell-ft">
			{:date("m-d",strtotime($new.update_time))}
		</div>
		</a>
	</div>
	<div class="card">
		<div class="cell account-deal">
			<a class="cell-bd" href="{:url('home/Sellcard/statistics')}"><i class="iconfont iconfont-statistics bg-red"></i><span>我的统计</span></a>
			<a class="cell-bd" href="{:url('home/Sellcard/order')}"><i class="iconfont iconfont-trade bg-info"></i><span>卖卡记录</span></a>
			<!--<a class="cell-bd" href="{:url('home/Apiface/consign')}"><i class="iconfont iconfont-order bg-pink"></i><span>API收单</span></a>-->
			<!--<a class="cell-bd" href="{:url('home/Apiface/statistics')}"><i class="iconfont iconfont-history bg-orange"></i><span>API统计</span></a>-->
		</div>
	</div>
	<div class="card">
	 <!--   <a class="cell cell-access" href="{:url('home/Member/assets')}">-->
		<!--<div class="cell-hd">-->
		<!--	<i class="iconfont iconfont-trip text-orange"></i>-->
		<!--</div>-->
		<!--<div class="cell-bd">-->
		<!--	邀请管理-->
		<!--</div>-->
		<!--<div class="cell-ft">-->
		<!--	<span class="h6">邀请有礼</span>-->
		<!--</div>-->
		<!--</a>-->
		
		<a class="cell cell-access" href="{:url('home/Member/profile')}">
		<div class="cell-hd">
			<i class="iconfont iconfont-set text-choc"></i>
		</div>
		<div class="cell-bd">
			资料管理
		</div>
		<div class="cell-ft">
			<span class="h6">手机/邮箱/实名认证</span>
		</div>
		</a>
		{if $xt=="IOS" && $wx.isourl!=""}
		<!--<a class="cell cell-access" href="{$wx.isourl|default=""}">-->
		<!--<div class="cell-hd">-->
		<!--	<i class="iconfont iconfont-hot text-choc"></i>-->
		<!--</div>-->
		<!--<div class="cell-bd">-->
		<!--	APP下载-->
		<!--</div>-->
		<!--<div class="cell-ft">-->
		<!--	<span class="h6">更简单、更快捷、更安全</span>-->
		<!--</div>-->
		<!--</a>-->
		{/if}
		{if $xt=="Android" && $wx.apkurl!=""}
		<!--<a class="cell cell-access" href="{$wx.apkurl|default=""}">-->
		<!--<div class="cell-hd">-->
		<!--	<i class="iconfont iconfont-hot text-choc"></i>-->
		<!--</div>-->
		<!--<div class="cell-bd">-->
		<!--	APP下载-->
		<!--</div>-->
		<!--<div class="cell-ft">-->
		<!--	<span class="h6">更简单、更快捷、更安全</span>-->
		<!--</div>-->
		<!--</a>-->
		{/if}
	</div>
	<div class="card">
		<!--<a class="cell cell-access" href="{:url('home/index/company')}">-->
		<!--<div class="cell-hd">-->
		<!--	<i class="iconfont iconfont-company text-orange"></i>-->
		<!--</div>-->
		<!--<div class="cell-bd">-->
		<!--	企业合作-->
		<!--</div>-->
		<!--<div class="cell-ft">-->
		<!--	<span class="h6">针对金融、保险等企业</span>-->
		<!--</div>-->
		<!--</a>-->
		<a class="cell cell-access" href="{:url('home/index/cooperation')}">
		<div class="cell-hd">
			<i class="iconfont iconfont-cooperation text-orange"></i>
		</div>
		<div class="cell-bd">
			招商合作
		</div>
		<div class="cell-ft">
			<span class="h6">针对游戏公会，各类商家</span>
		</div>
		</a>
	</div>
	<div class="card">
		<a class="cell cell-access" href="{:url('home/Index/feedback')}">
		<div class="cell-hd">
			<i class="iconfont iconfont-feedback text-purple"></i>
		</div>
		<div class="cell-bd">
			建议反馈
		</div>
		<div class="cell-ft">
		</div>
		</a><a class="cell cell-access" href="{:url('home/Member/memberlog')}">
		<div class="cell-hd">
			<i class="iconfont iconfont-log text-purple"></i>
		</div>
		<div class="cell-bd">
			操作日志
		</div>
		<div class="cell-ft">
		</div>
		</a>
	</div>
</div>
{include file="layout/wap/butmenu" /}
</section>

<div class="tooltip" id="tooltip" style="display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
	</div>
</div>
</body>
</html>