{extend name="layout/member" /} 
{block name="content"}
    <div class="view-framework-body">
   <div class="view-framework-main"> 
    <div class="tabnavs">
     {include file="layout/info_menu" /}
    </div> 
    <div class="box tab-content">
	<div class="userform">
	   {empty name="$user.mobile"}
	      <form action="#" method="post" id="newpass">
			<div class="form-group">
				<label class="form-label" for="paypass"><em>*</em> 安全密码：</label>
				<div class="form-element">
					<input class="form-control" name="paypass" id="paypass" type="text" value="" disabled="">
					<div class="help-block">
						<p>
							必须是6-20个英文字母、数字或符号，区分大小写
						</p>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label"><em>*</em> 短信验证码：</label>
				<div class="form-element">
					<div class="form-tips">
						<p class="text-red">
							您还未绑定手机号码，不能设置安全密码
						</p>
					</div>
				</div>
			</div>
			<div class="form-group-btn">
				<a class="btn btn-primary" href="{:url('home/Mobile/setphoto')}">前往绑定手机</a>
			</div>
		</form>
	   {else/}
		<form action="{:request()->url()}" method="post" id="newpass">
			<div class="form-group">
				<label class="form-label">&nbsp;</label>
				<div class="form-element">
					<ul class="btn-group clearfix" id="banktype-group">
						<li ><a class="btn" href="{:url('home/Member/password')}"><span class="icon"><i class="iconfont"></i></span>登录密码管理<b></b></a></li>
						<li class="selected"><a class="btn" href="{:url('home/Member/paymentcodepin')}"><span class="icon"><i class="iconfont"></i></span>安全密码管理<b></b></a></li>
					</ul>
				</div>
			</div>
			{empty name="$user.tradepwd"}
			<div class="form-group">
                  <label class="form-label" for="paypass">
                    <em>*</em>安全密码：</label>
                  <div class="form-element">
                    <input class="form-control" name="tradePwd" id="paypass" type="password" value="" null="请设置安全密码" reg="^[A-Za-z0-9]{6,20}$" maxlength="20" autocomplete="off" placeholder="请设置安全密码" />
                    <div class="help-block">
                      <p>必须是6-20个英文字母、数字或符号，区分大小写</p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="phoneno">手机号码：</label>
                  <div class="form-element">
                    <input class="form-control" id="phoneno" type="text" name="phoneno" value='{:tfen($user.mobile,3,4)}' readonly /></div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="codeno">
                    <em>*</em>短信验证码：</label>
                  <div class="form-element">
                    <input class="form-control form-control-short" id="codeno" name="codeTran" type="text" null="请输入短信验证码" reg="[0-9]{6}" />
                    <a class="btn btn-default btn-square pull-left" href="javascript:;" data-href="{:url('home/Api/sendMsg',['scene'=>'tradepwd','tip'=>'phoneno'])},,top-right,post" id="mcode">获取验证码</a>
                    <div class="help-block">
                      <p>短信验证码 5 分钟内有效，若已失效或未收到验证码，请点击重新获取</p>
                    </div>
                  </div>
                </div>
		     <div class="form-group-btn">
		    {:token_field()}
			<input class="btn btn-primary" type="button" data-form="top-left,json" name="newpass" value="提交">
		    </div>
			{else/}
			  <div class="status-hint">
			     <div class="status-hint-icon"><i class="iconfont text-green"></i></div>
					 <div class="status-hint-text">
						  <h3 class="text-green">当前状态：您的安全密码已开启</h3>
						  <p class="fsz16">在使用余额等操作均需通过安全密码进行身份验证</p>
						  <p class="fsz16">如有问题，请联系客服咨询</p>
						  <a class="btn btn-primary btn-sm" href="{:url('home/Editpass/index')}">重置安全密码</a>
					</div>
				</div>
			{/empty}
	</form>
	 {/empty}
    </div>
</div>
  
   {/block}