 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/helpfaq/index')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">卖卡明细</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="card-gradient">
		<div class="card cells-concise">
			<div class="cell">
				<div class="cell-bd">
					共{$da.num}张卡：成功<span class="text-success">{$da['ok']}</span>张，失败<span class="text-red">{$da['err']}</span>张
				</div>
				<div class="cell-ft">
					您共获得<span class="text-orange">{$da['money']}元</span>
				</div>
			</div>
			<div class="cell">
				<div class="cell-bd">
					<span class="control-label">订单编号</span>
				</div>
				<div class="cell-ft">
					{$res['batchno']}
				</div>
			</div>
			<div class="cell">
				<div class="cell-bd">
					<span class="control-label">卖卡时间</span>
				</div>
				<div class="cell-ft">
					{$res['create_time']}
				</div>
			</div>
			<div class="cell">
				<div class="cell-bd">
					<span class="control-label">受理说明</span>
				</div>
				<div class="cell-ft">
					{$da.state|raw}
				</div>
			</div>
			<div class="cell">
				<div class="cell-bd">
					<button type="button" class="btn btn-primary btn-block btn-circle"  data-href="{:url('home/Sellcard/reissued',['batchno'=>$res['batchno']])},,top-left,post">一键重发失败订单</button>
				</div>
			</div>
		</div>
		{volist name="data" id="p"}
		<div class="card sellrecord-info">
			<div class="cell">
				<div class="cell-bd">
					<h5>{$p.title}{$p.money}元</h5>
					<p>
						<span class="text-light">卡号：</span>{$p.card_no}
					</p>
					<p>
						<span class="text-light">密码：</span>{$p.card_key}
					</p>
					<p>
						<span class="text-light">受理：</span>
						{switch name="$p->getData('state')"}
						   {case value="0"}
							<span class="text-gray" >等待验证</span>
						   {/case}
						   {case value="1"}
						   <span class="text-danger" >处理中</span>
						   {/case}
						   {case value="2"}
						   <span class="text-success" >处理成功</span>
						   {/case}
						   {case value="3"}
							<span class="text-red" title="{$p.remarks}">失败[{$p.remarks}]</span>
						   {/case}
					{/switch}
					</p>
				</div>
				<div class="cell-ft">
				   {gt name="p.amount" value="0"}
					<h5 class="text-success">{$p.amount}</h5>
					<p>
						-
					</p>
					<p class="text-success">
						{$p.remarks}
					</p>
					{else/}
					<h5 class="text-red">{$p.amount}</h5>
					<p>
						-
					</p>
					<p class="text-red">
						{$p.remarks}
					</p>
					{/gt}
					
				</div>
			</div>
		</div>
		{/volist}
		
		<div class="card">
		{$data|raw}
		</div>
	</div>
</div>

</section>

<div class="tooltip" id="tooltip" style="display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
	</div>
</div>
</body>