     {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="http://www.lipin.com/help-help.html"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">重置密码</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="sign-form">
		<form action="{:request()->url()}" method="post" id="forgetpassword">
			<div class="form-group">
				<input class="form-control" id="username" name="username" type="text" placeholder="请输入登录帐号" null="请输入用户名" data-input="clear"><span class="control-clear" style="display: none;"><i class="close"></i></span>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="verifycode" name="verifycode" null="请输入验证码" placeholder="请输入验证码">
				<div class="form-action">
					<img src="{:captcha_src()}" class="verifyimg code pull-left" onclick="this.src=this.src+'?'+Math.random()" title="点击图片刷新验证码">	
				</div>
			</div>
			<div class="form-group">
			   {:token_field()}
				<button class="btn btn-primary btn-block btn-circle" type="button" data-form="top-left,json" name="forgetpassword">提交</button>
			</div>
		</form>
	</div>
</div>

<div class="tooltip" id="tooltip" style="display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
	</div>
</div>
</body>
</html>