     {include file="layout/wap/tou2" /}
	<style>
	.logo-brand {
		display: block;
		margin: 0 auto;
		margin-top: .15rem;
		margin-bottom: .4rem;
		width: 2rem;
		height: .58rem;
		overflow: hidden;
		text-align: center;
		background: noset;
		background-size: 100%; 
     }
	</style>
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/helpfaq/index')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">登录{$C['sitename']}</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="sign-form">
		<div class="logo-brand">
		<img src="{$C.logo}">
		</div>
		<ul class="tabs tabs-pills login-tabs">
			<li class="tab-item"><span class="active" id="login1" onclick="setTaba('login', 1, 2);" href="javascript:;">帐号密码登录</span></li>
			<li class="tab-item"><span id="login2" onclick="setTaba('login', 2, 2);" href="javascript:;">手机验证码登录</span></li>
		</ul>
		<div class="sign-form-content">
			<div class="sigin-error" id="sign-error">
			</div>
			<div id="con_login_1">
				<form action="{:request()->url()}" method="post" id="login-form-0">
					<div class="form-group">
						<input class="form-control" name="username" id="username" type="text" placeholder="用户名/邮箱/手机号码" maxlength="20" value="" null="用户名不能为空" data-input="clear">
					</div>
					<div class="form-group">
						<input class="form-control" name="password" id="password" type="password" placeholder="登录密码" maxlength="20" null="请输入密码" err="登录密码错误" data-input="clear"><label class="passeye" for="onoff-password"><input type="checkbox" id="onoff-password"><i class="eye"></i></label>
					</div>
					<div class="form-group">
					    {:token_field()}
						<button class="btn btn-secondary" type="button" data-form="top-left,json" name="login-form-0">登录{$C['sitename']}</button>
						<input type="hidden" name="type" value="0">
					</div>
				</form>
			</div>
			<div id="con_login_2" class="hide">
				<form action="{:request()->url()}" method="post" id="login-form-1">
					<div class="form-group form-group-icon">
						<label class="form-icon" for="username"><i class="iconfont icon-phone1"></i></label><input class="form-control" id="phoneno" type="text" name="phoneno" value="" placeholder="手机号码" null="手机号码不能为空" err="手机号码格式错误" reg="^1[3|4|5|6|7|8][0-9]{9}$" data-input="clear">
					</div>
					<div class="form-group form-group-icon">
						<label class="form-icon" for="password"><i class="iconfont icon-password"></i></label><input class="form-control" id="codeno" name="codeno" type="text" placeholder="手机验证码" null="请输入验证码" reg="[0-9]{6}">
						<div class="form-action">
							<a class="text-blue" href="javascript:;" data-href="{:url('home/Api/sendMsg',['scene'=>'login','tip'=>'phoneno'])},,top-left,post" id="mcode">获取验证码</a>
						</div>
					</div>
					<div class="form-group">
					   {:token_field()}
						<button class="btn btn-secondary" type="button" data-form="top-left,json" name="login-form-1">登录{$C['sitename']}</button><input type="hidden" name="type" value="1">
					</div>
				</form>
			</div>
		</div>
		<div class="sign-links">
			<a class="text-blue" href="{:url('home/Login/forgetpassword')}">忘记密码?</a><span class="sep">·</span>没有账号？<a class="text-blue" href="{:url('home/Login/register')}">立即注册</a>
		</div>
	</div>
</div>

</section>
<div class="tooltip" id="tooltip" style="display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
	</div>
</div>
<script>
  {:htmlspecialchars_decode($C['tongji'])}
  </script>
</body>
</html>