<div class="userform">
	<form action="{:request()->url()}" method="post" id="submit">
	{eq name="$user.userReal.retype" value="1"}
		<div class="form-group mb0">
			<label class="form-label">支付宝姓名：</label>
			<div class="form-element">
				<strong>{$user.userReal.name}</strong>
			</div>
		</div>
		<div class="form-group mb10">
			<label class="form-label">身份证号码：</label>
			<div class="form-element">
				<strong>{:tfen($user.userReal.idcard,4,12)}</strong>
			</div>
		</div>
		{else/}
		  <div class="form-group mb0">
			<label class="form-label">公司名称：</label>
			<div class="form-element">
				<strong>{$user.userReal.company_name}</strong>
			</div>
		</div>
		{/eq}
		<div class="sr-only">
			<input type="text" name="fakeusernameremembered"><input type="password" name="fakepasswordremembered">
			<p>
				防止浏览器自动乱填充表单
			</p>
		</div>
		<div class="form-group">
			<label class="form-label"><em>*</em> 支付宝帐号：</label>
			<div class="form-element">
				<input class="form-control" name="accounts" type="text" id="accounts" value="{$res.accounts|default=''}" reg="^[A-Za-z0-9@._~\w-]{5,50}$" null="收款帐号不可为空" err="帐号格式不正确" autocomplete="off">
				<div class="help-block">
					<p>
					    {eq name="$user.userReal.retype" value="1"}
						请认真填写，该支付宝账户真实姓名必须与【<span class="text-dark">{$user.userReal.name}</span>】身份一致！
						{else/}
						请认真填写，持卡人必须与【<span class="text-dark">{$user.userReal.company_name}</span>】身份一致！
						{/eq}
					</p>
				</div>
			</div>
		</div>
		{empty name="$res.accounts"}
		<div class="form-group">
			<label class="form-label"><em>*</em> 确认帐号：</label>
			<div class="form-element">
				<input class="form-control" name="verifyacc" id="verifyacc" type="text" value="" reg="^[A-Za-z0-9@._~\w-]{5,50}$" null="请再次填写支付宝帐号" err="帐号格式不正确" autocomplete="off">
			</div>
		</div>
		{/empty}
		<div class="form-group">
		    {:token_field()}
		    <input type="hidden" name="id" value="{$res.id}">
			<label class="form-label">&nbsp;</label><button id="anjian" class="btn btn-primary mr20" type="button" data-form="top-left,json" name="submit">确认，提交</button><a class="btn btn-default" href="javascript:;" data-dismiss="modal">返回</a>
		</div>
	</form>
</div>