<form action="{:request()->url()}" method="post" id="submit">
	<div class="modal-prompt">
		<div class="prompt prompt-danger">
			<div class="prompt-icon">
				<i class="iconimg"></i>
			</div>
			<div class="prompt-cont">
				<h4>确定要删除么？</h4>
				<p>
					删除后无法恢复
				</p>
				<div class="action">
					<button class="btn btn-sm btn-primary btn-ok" type="button" data-form="top-left,json" name="submit">确认</button><a class="btn btn-sm btn-default btn-cancel" href="###" data-dismiss="modal">取消</a>
				</div>
			</div>
		</div>
	</div>
</form>