 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/helpfaq/index')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">我要提现</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent mycontent-hastabs" id="mycontent">
	<div class="myfixed">
		<div class="tabs navbar navbar-inverse">
		 {eq name="$pei.alitype" value="1"}
			<a class="tab-item active" href="{:url('home/Cash/index')}"><span>提现至支付宝</span></a>{/eq}
			{eq name="$pei.banktype" value="1"}
			<a class="tab-item" href="{:url('home/Cash/bank')}"><span>提现至银行卡</span></a>{/eq}
			{eq name="pei.wxtype" value="1"}
			<a class="tab-item" href="{:url('home/Cash/weixin')}"><span>提现至微信</span></a>{/eq}
			
		</div>
	</div>
	<div class="form-primary">
		<form action="{:url('home/Cash/withdraw')}" method="post" id="formbtn">
			<div class="card">
				<div class="alert alert-alt alert-danger text-center" style="margin-bottom: 0; ">
					推荐支付宝提现，{eq name="$pei.alifeilv" value="0"}免手续费，实时到账{else/}{gt name="$pei.alifeilv" value="0.99"}每笔手续费{$pei.alifeilv}元{else/}每笔手续费{$pei.alifeilv}%{/gt}{/eq}
				</div>
				{volist name="list" id="p"}
				<div class="cashlist" id="cashlist">
					<label class="cell cell-label" for="bank_{$p.id}">
					<div class="cell-hd">
						<img class="img-36" src="__IMG__/banks/alipay.png" alt="">
					</div>
					<div class="cell-bd">
						<h5 class="text-gray">支付宝</h5>
						<p>
							{:tfen($p.accounts,3,7)}
						</p>
					</div>
					<div class="cell-ft">
						<input class="icheck" type="radio" checked="" name="bank_id" id="bank_{$p.id}" value="{$p.id}"><i class="owlicon owlicon-checked"></i>
					</div>
					</label>
				</div>
				{/volist}
				<div class="card-footer">
					<div class="cell">
						<div class="cell-bd">
							<p class="text-light h5" data-dialog="{:url('home/Bank/addalipay')},600,添加支付宝">
								<i class="plus"></i> 添加支付宝帐号
							</p>
						</div>
						<div class="cell-ft">
							<a class="text-blue" href="{:url('home/Member/alipay')}">管理</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="cell cash-primary">
					<div class="cell-hd">
						<label class="control-label" for="moneyoff">提现金额</label>
					</div>
					<div class="cell-bd">
						<input class="form-control form-control-error" name="moneyoff" placeholder="输入提现金额" id="moneyoff" type="number" value="" num="0|0.00" maxlength="8" null="请输入要提现的金额" reg="^\d+(\.\d+)?$" >
					</div>
					<div class="cell-ft">
						可提现{$user.money}
					</div>
				</div>
			</div>
			<div class="card" >
			   <div class="cell cash-primary">
					<div class="cell-hd">
						<label class="control-label" >安全密码</label>
					</div>
					<div class="cell-bd">
						<input class="form-control form-control-error" placeholder="输入安全密码"  name="paypass" id="paypass" null="请输入安全密码" type="password" value="" >
					</div>
				</div>
			</div>
			<div class="cells-tips text-center">
				<p class="text-light">
					如1小时内未到账请联系客服查询转账结果
				</p>
				<p class="text-red">
					提现成功后请在支付宝账单中查看明细
				</p>
			</div>
			<div class="myaction-wrapper">
				<div class="myaction">
					<div class="btn-group">
					    <input type="hidden" name="type" value="alipay">
						 {:token_field()}
						<button class="btn btn-primary" type="button" id="anjian" data-form="top-left,json" name="formbtn">确定提现</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="tooltip top-left tooltip-error" id="tooltip" style="left: 85px; top: 270px; display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
		请输入要提现的金额
	</div>
</div>
</body>
</html>