{extend name="layout/member" /} 
{block name="content"}
<style>
.lay-span{
    padding: 3px 10px;
    color: #FFF;
    border-radius: 5px;
}
</style>
    <div class="view-framework-body">
   <div class="view-framework-main">
	<div class="box">
		<h2 class="box-caption">我的提现记录<span class="h4 text-red pl10">（如遇提现失败，请联系客服了解详情！客服电话：4000518288）</span></h2>
		<div class="form-filter">
			<div class="form-group">
				<form action="{:request()->url()}" method="get" id="formsubmit">
					<label class="control-label" for="qStartTime">日期筛选</label>
					  <input type="text" class="form-control form-datetime" id="qStartTime" name="starttime" value="{$starttime|default=''}" autocomplete="off">
					  <span class="control-label">-</span>
					  <input type="text" class="form-control form-datetime mr10" id="qEndTime" name="endtime" value="{$endtime|default=''}" autocomplete="off">
					  <button class="btn btn-primary btn-sm btn-square" type="submit" onclick="return formtest(this);">查询</button>
					  <a class="item" href="{:url('home/Cash/cashrecords')}">全部</a>
					  <a class="item {eq name="$day" value="1"}selected{/eq}" href="javascript:;" onclick="submitset('day',1)">今天</a>
                  <a class="item {eq name="$day" value="7"}selected{/eq}" href="javascript:;" onclick="submitset('day',7)">最近7天</a>
                  <a class="item {eq name="$day" value="30"}selected{/eq}" href="javascript:;" onclick="submitset('day',30)">1个月</a>
                  <a class="item {eq name="$day" value="60"}selected{/eq}" href="javascript:;" onclick="submitset('day',60)">2个月</a>
                  <a class="item {eq name="$day" value="90"}selected{/eq}" href="javascript:;" onclick="submitset('day',90)">3个月</a>
                  <a class="item {eq name="$day" value="365"}selected{/eq}" href="javascript:;" onclick="submitset('day',365)">1年</a>
					  <input type="hidden" name="day" value="{$day|default=''}">
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-custom cash-records">
			<thead>
			<tr>
			    <th class="date">
					订单号
				</th>
				<th class="date">
					日期
				</th>
				<th class="paysum">
					提现金额(元)
				</th>
				<th class="paysum">
					手续费
				</th>
				<th class="paysum">
					实际到账
				</th>
				<th class="paysum">
					提现类型
				</th>
				<th class="inid">
					提现账号
				</th>
				<th class="state">
					状态
				</th>
				<th class="note">
					说明
				</th>
			</tr>
			</thead>
			<tbody>
			  {volist name="list" id="p"}
				  <tr>
				    <th class="date">{$p.order}</th>
                    <th class="date">{$p.create_time}</th>
                    <th class="paysum" style="color: #0085fe">{$p.money}</th>
					<th class="paysum" style="color: #46be8a">{$p.price}</th>
					<th class="paysum" style="color: #f30">{$p.money-$p.price}</th>
					<th class="paysum" style="width:100px">{$p.type}</th>
                    <th class="inid">{$p.bankname}-{$p.accounts}</th>
                    <th class="state">{:htmlspecialchars_decode($p.status)}</th>
                    <th class="note">{$p.content}</th>
				</tr>
			 {/volist}
			</tbody>
			<tfoot>
			<tr>
				<td colspan="5">
					<p class="text-left">
						<label>本页合计提现金额：</label><span class="text-dark">¥{$money}</span>
					</p>
				</td>
			</tr>
			</tfoot>
			</table>
		</div>
		<div class="pb20">
			  {$list|raw}
       </div>
	</div>
</div>
</div>
   {/block}