{extend name="layout/member" /} 
{block name="content"}
<div class="view-framework-main">
	<div class="box">
		<h2 class="box-caption">我要提现</h2>
		<form action="{:url('home/Cash/withdraw')}" method="post" id="formbtn">
			<div class="userform">
				<div class="form-group">
					<label class="form-label">提现方式：</label>
					<div class="form-element">
						<ul class="btn-group clearfix" id="banktype-group">
						   {eq name="$pei.alitype" value="1"}
							<li class="selected"><a class="btn" href="{:url('home/Cash/index')}"><span class="icon"><i class="iconfont iconfont-alipay"></i></span>提现至支付宝<b></b></a></li>{/eq}
							{eq name="$pei.banktype" value="1"}
							<li><a class="btn" href="{:url('home/Cash/bank')}"><span class="icon"><i class="iconfont iconfont-bank"></i></span>提现至银行卡<b></b></a></li>{/eq}
							{eq name="$pei.wxtype" value="1"}
					<li><a class="btn" href="{:url('home/Cash/weixin')}"><span class="icon"><i class="iconfont iconfont-weixin">&#59365;</i></span>提现至微信<b></b></a></li>{/eq}
						</ul>
						<div class="help-block">
							<p class="text-red h3">
								<strong>推荐支付宝提现，{eq name="$pei.alifeilv" value="0"}实时到账{else/}{gt name="$pei.alifeilv" value="0.99"}每笔手续费{$pei.alifeilv}元{else/}每笔手续费{$pei.alifeilv}%{/gt}{/eq}</strong>
							</p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label">收款姓名：</label>
					{switch name="user.userReal.retype"}
					{case value="1"}
					<div class="form-element">
						{$user.userReal.name} <span class="label label-primary" style="margin-left: 8px;">已实名</span>
					</div>
					{/case}
					{case value="2"}
					  <div class="form-element">
						{$user.userReal.company_name}<span class="label label-danger" style="margin-left: 8px;">企业实名</span>
					</div>
					{/case}
					{default /}
					 <div class="form-element">未知，<a class="text-blue" href="{:url('home/Member/realname')}">马上去实名认证</a></div>
					{/switch}
				</div>
				<div class="form-group">
					<label class="form-label">支付宝账户：</label>
					<div class="form-element">
						<ul class="form-combobox" id="cashlist">
						   {volist name="list" id="p"}
							<li><label class="radio" for="bank_{$p.id}"><input type="radio" checked="" name="bank_id" id="bank_{$p.id}" value="{$p.id}"><span class="radio-text">
							<div class="cashcard-name">
								<span><strong>{:tfen($p.accounts,3,7)}</strong></span><i class="iconimg iconimg-0"></i>
							</div>
							</span></label></li>
							{/volist}
						</ul>
						<div class="form-tips">
							<a class="text-blue" href="javascript:;" data-dialog="{:url('home/Bank/addalipay')},600,添加支付宝">+ 添加支付宝帐号</a><span class="sep">|</span><a class="text-blue" href="{:url('home/Member/alipay')}">管理</a>
						</div>
					</div>
				</div>
				<div class="sr-only">
					<input type="text" name="fakeusernameremembered"><input type="password" name="fakepasswordremembered">
					<p>
						防止浏览器自动乱填充表单
					</p>
				</div>
				<div class="form-group">
					<label class="form-label" for="moneyoff"><em>*</em> 提现金额：</label>
					<div class="form-element">
						<input class="form-control form-control-short" name="moneyoff" id="moneyoff" type="text" value="" maxlength="8" null="请输入要提现的金额" reg="^\d+(\.\d+)?$">
						<div class="form-tips">
							元<span class="sep">|</span>可提现金额：{$user.money}
						</div>
						<div class="help-block">
							<p>
								最低提现{$pei.ali_min}元，单笔提现不能超过{$pei.ali_max}元
							</p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label" for="paypass"><em>*</em> 安全密码：</label>
					<div class="form-element">
						<input class="form-control form-control-short" name="paypass" id="paypass" type="password" value="">
						<div class="form-tips">
							<a class="text-blue" href="{:url('home/Editpass/index')}">忘记安全密码</a>
						</div>
					</div>
				</div>
				<div class="form-group-btn">
				   {eq name="ok" value="0"}
					  <button class="btn btn-primary btn-disabled" type="button" disabled="">请先添加支付宝</button>
					{else/}
				    {:token_field()}
					<input type="hidden" name="type" value="alipay">
					<button class="btn btn-primary" type="button" data-form="top-left,json" id="anjian" name="formbtn">确定提现</button>
					<div class="help-block">
						<p>
							提现成功后请在支付宝查看明细
						</p>
					</div>
					{/eq}
				</div>
			</div>
		</form>
	</div>
</div>
   {/block}