 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/Helpfaq/helpa')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">回收流程</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="card-gradient">
		<div class="card guide-panel">
			<div class="article">
				<h3>注册登录</h3>
				<img src="__IMG__/guide/sign.png" alt="">
				<p>
					注册卡卡礼品网账号<br>
					或者直接在登录页面<br>
					用手机号码获取短信验证码<br>
					直接完成注册并登录
				</p>
			</div>
		</div>
		<div class="card guide-panel">
			<div class="article">
				<h3>实名认证</h3>
				<img src="__IMG__/guide/realname.png" alt="">
				<p>
					输入<strong class="text-orange">真实姓名</strong>及身份证号码<br>
					<!--上传身份证正反面照片<br>-->
					<!--手持本人身份证正面照<br>-->
					<!--为了账户安全，实名认证后才可提现-->
					<strong class="text-red">人脸识别成功后，才可提现</strong>
				</p>
			</div>
		</div>
		<div class="card guide-panel">
			<div class="article">
				<h3>提交卡密</h3>
				<img src="__IMG__/guide/refer.png" alt="">
				<p>
					选择<strong class="text-orange">正确的面值</strong><br>
					提交相对应<strong class="text-red">正确的卡号卡密</strong><br>
					等待客服人员验证<br>
					恶意提交会被封号哦~~
				</p>
			</div>
		</div>
		<div class="card guide-panel last">
			<div class="article">
				<h3>账户提现</h3>
				<img src="__IMG__/guide/cash.png" alt="">
				<p>
					添加本人名下的<strong class="text-orange">提现账号</strong><br>
					进入提现页面提现<br>
					资金秒到账，偶尔有延迟<br>
					交易成功，如此简单
				</p>
			</div>
		</div>
		<div class="myaction">
			<div class="btn-group">
				<a class="btn btn-secondary" href="{:url('home/Login/login')}">注册/登录</a>
			</div>
		</div>
	</div>
</div>
</section>

</body>
</html>