 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/Helpfaq/helpa')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">帮助中心</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<!--H5端注释	<div class="card-gradient">
	<div class="card">
			<a class="cell cell-access" href="{:url('home/Helpfaq/index')}">
			<div class="cell-hd">
				<span class="icon-graphic bg-orange"><i class="iconfont iconfont-notice"></i></span>
			</div>
			<div class="cell-bd">
				<h3>平台通知</h3>
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/guide')}">
			<div class="cell-hd">
				<span class="icon-graphic bg-red"><i class="iconfont iconfont-step"></i></span>
			</div>
			<div class="cell-bd">
				<h3>回收流程</h3>
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/aboutus')}">
			<div class="cell-hd">
				<span class="icon-graphic bg-info"><i class="iconfont iconfont-about"></i></span>
			</div>
			<div class="cell-bd">
				<h3>关于我们</h3>
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/index/cooperation')}">
			<div class="cell-hd">
				<span class="icon-graphic bg-success"><i class="iconfont iconfont-cooperation"></i></span>
			</div>
			<div class="cell-bd">
				<h3>商务合作</h3>
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Index/feedback')}">
			<div class="cell-hd">
				<span class="icon-graphic bg-pink"><i class="iconfont iconfont-feedback"></i></span>
			</div>
			<div class="cell-bd">
				<h3>反馈建议</h3>
			</div>
			<div class="cell-ft">
			</div>
			</a>
		</div> 
		<div class="card">
			<a class="cell cell-access" href="{:url('home/Helpfaq/faq')}">
			<div class="cell-bd">
				常见问题
			</div>    h5注释 -->
			<div class="cell-ft">
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/agreement')}">  
			<div class="cell-bd">
				用户服务协议
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/privacy')}">
			<div class="cell-bd">
				隐私政策
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/protocol')}">
			<div class="cell-bd">
				礼品卡转让协议
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/adeclare')}">
			<div class="cell-bd">
				礼品卡回收说明
			</div>
			<div class="cell-ft">
			</div>
			</a><a class="cell cell-access" href="{:url('home/Helpfaq/api')}">
			<div class="cell-bd">
				API接口
			</div>
			<div class="cell-ft">
			</div>
			</a>
		</div>
	</div>
</div>
</section>
<div class="tooltip" id="tooltip" style="display: none;">
	<div class="tooltip-arrow">
	</div>
	<a class="tooltip-close close" href="javascript:;">×</a>
	<div class="tooltip-inner">
	</div>
</div>
</body>
</html>