 {include file="layout/wap/tou2" /}
<div class="myheader" id="myheader">
	<header class="header "><button class="btn btn-back fl" type="button" onclick="javascript:history.back(-1);"><i class="iconfont iconfont-back"></i></button><a class="btn btn-guide fl" href="{:url('home/Helpfaq/helpa')}"><i class="iconfont iconfont-book"></i></a>
	<div class="header-title">
		<h1 class="title">转让协议</h1>
	</div>
	<button class="btn btn-service fr" type="button" data-toggle="matte" data-target="#service"><i class="iconfont iconfont-service"></i></button></header>
</div>
<div class="mycontent" id="mycontent">
	<div class="card-gradient">
		<div class="panel">
			<div class="article">
				<h2 class="text-center">{$C.sitename}礼品卡转让协议</h2>
				<div class="paragraph">
					<p>
						{$C.sitename}礼品卡转让协议（以下称“本协议”）是安徽邦麦客网络科有限公司的{$C.sitename}平台（以下称“{$C.sitename}”）与{$C.sitename}用户（以下称“用户”或“您”）就礼品卡转让服务（或称”本服务”）所订立的有效合约。<strong class="text-underline text-dark">用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与本平台已达成协议并同意接受本协议的全部约定内容</strong>。
					</p>
					<p>
						在接受本协议之前，请用户仔细阅读本协议的全部内容（特别是以<strong class="text-underline text-dark">粗体下划线</strong>标注的内容）。<strong class="text-underline text-dark">如果您不同意本协议的任意内容，或者无法准确理解本平台对条款的解释，请不要进行后续操作</strong>。
					</p>
				</div>
				<div class="paragraph">
					<h3>第一条：相关定义</h3>
					<ul class="list list-decimal">
						<li><strong class="text-dark">礼品卡：</strong>本协议所称礼品卡，是指电子商务卡、商城超市卡、游戏充值卡、话费充值卡、旅游预付卡、石油预付充值卡等业务运营商发行的具有一定面值、可用于购买商品或服务的卡片；</li>
						<li><strong class="text-dark">礼品卡转让：</strong>本协议所称礼品卡转让，是指本平台提供的礼品卡转让服务。用户可将其持有的礼品卡，转让给本平台或本平台合作商户，转让所得的金额将直接转入用户{$C.sitename}的账户余额中。具体支持的礼品卡卡种以用户使用本服务时的页面提示为准。</li>
					</ul>
				</div>
				<div class="paragraph">
					<h3>第二条：费用</h3>
					<ul class="list list-decimal">
						<li><strong class="text-underline text-dark">用户使用本服务需要支付一定的手续费，手续费已包含在礼品卡的回收价中</strong>；</li>
						<li><strong class="text-underline text-dark">如果用户选项加急服务，另需支付加急的费用，具体费用由{$C.sitename}提交礼品卡的页面提示为准，加急服务费将直接从到账金额中扣除</strong>。</li>
					</ul>
				</div>
				<div class="paragraph">
					<h3>第三条：权利义务</h3>
					<ul class="list list-decimal">
						<li><strong class="text-underline text-red">使用本服务的用户，需符{$C.sitename}用户实名制度（验证本人手机号码，并上传身份证正反面与手持身份证正面自拍照）</strong>；</li>
						<li>用户需按照页面提示选择正确的礼品卡面值。<strong class="text-underline text-dark">如选择的面值小于实际面值，本平台将按照选择的面值进行结算,当选择的面值大于实际面值，本平台将不结算。由此产生的损失由用户自行承担，本平台对此不承担责任</strong>；</li>
						<li>如因礼品卡卡号、卡密不正确或转让前已经使用等原因，导致礼品卡不能转让的，用户需自行解决或联系发卡业务运营商解决，本平台不介入处理；</li>
						<li>本平台应按照本协议的约定及页面提示，向用户提供礼品卡转让服务，并保证用户成功转让的资金及时转入其{$C.sitename}账户；</li>
						<li>鉴于互联网及网络交易的特殊性，本平台无法鉴别和判断虚拟交易或正在交易或已交易的礼品卡来源、权属、真伪、等权力属性、自然属性及其他各状况。因此，用户在交易前应加以仔细辨明，并慎重考虑和评估交易可能产生的各项风险。基于此，用户承诺，用户在本平台所从事的礼品卡交易活动属于合法的，用户所提供的礼品卡均具有合法正当的来源；</li>
						<li><strong class="text-underline text-orange">经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者本平台有足够事实依据可以认定用户存在违法或违反服务协议行为的，本平台有权选择下列一种或多种处理措施进行处理：</strong>
						<ul class="list list-disc">
							<li><strong class="text-underline text-dark">中止或终止用户网上交易权限</strong>；</li>
							<li><strong class="text-underline text-dark">注销或删除用户帐户</strong>；</li>
							<li><strong class="text-underline text-dark">在本平台公告上公布用户的违法行为</strong>；</li>
							<li><strong class="text-underline text-dark">保留相应的交易记录提交公安机关处理</strong>。</li>
						</ul>
						</li>
					</ul>
				</div>
				<div class="paragraph">
					<h3>第四条：其他</h3>
					<ul class="list list-decimal">
						<li>本协议适用中华人民共和国大陆地区法律。因本平台与用户就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，本平台和用户同意由<strong class="text-underline text-dark">广州渔人信息技术有限公司所在地法院</strong>管辖审理双方的纠纷或争议；</li>
						<li>本协议内容包括协议正文及所有本平台已经发布的或将来可能发布的服务协议、隐私政策、交易规则等条款与本协议具有同等效力，您均应遵照执行；</li>
						<li>本协议未尽事宜，以{$C.sitename}网站上公布的《{$C.sitename}礼品卡转让服务协议》等相关规则为准。</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

</body>
</html>